.weather-app-wrapper{
    margin: 30px auto;
    width: 60%;
    
}

.weather-app{
    border: 1px solid black;
    ;
    border-radius: 20px;
    background-image: url(https://image.freepik.com/free-photo/abstract-background-twilight-sky-background-pink-gradient-tone-color_63313-152.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #2E2C4C
}

img{
    width: 120px;
    margin: 5px;
    margin-right: 20px;
    float: left;
}

#temperature {
    font-size: 52px;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 22px;
}


.form-control{
    margin-bottom: 10px;
}

.box {
    padding: 10px 10px 10px 10px;
    
}

#units{
    position: relative;
    top: -25px;
    font-size: 16px;
}

.active {
    color: black;
    cursor: default;
    text-decoration: none;
}

.active:hover {
    text-decoration: none;
    color: black;
}

.inactive {
    text-decoration: none;
}

.weather-forecast{
    margin-top: 20px;
}

